#board {
    width: 300px;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;

    * {
        box-sizing: border-box;
    }

    &:after {
        content: '';
        position: absolute;
        background-color: #52d29d;
        transition: 0.7s;
    }

    &[class^="H"] {
        &:after {
            width: 0%;
            height: 3px;
            left: 0;
            transform: translateY(-50%);
        }

        &.full:after {
            width: 100%;
        }
    }

    &.H1:after {
        top: 16.6666666665%;
    }

    &.H2:after {
        top: 50%;
    }

    &.H3:after {
        top: 83.33333333%;
    }

    &[class^="V"] {
        &:after {
            width: 3px;
            height: 0%;
            top: 0;
            transform: translateX(-50%);
        }

        &.full:after {
            height: 100%;
        }
    }

    &.V1:after {
        left: 16.6666666665%;
    }

    &.V2:after {
        left: 50%;
    }

    &.V3:after {
        left: 83.33333333%;
    }

    &.D1 {
        &:after {
            height: 0%;
            width: 3px;
            left: 0;
            top: 0;
            transform: rotateZ(-45deg);
            transform-origin: 50% 0;
            transition: height 0.7s;
        }

        &.full:after {
            height: 140%;
        }
    }

    &.D2 {
        &:after {
            height: 0%;
            width: 3px;
            right: 0;
            top: 0;
            transform: rotateZ(45deg);
            transform-origin: 50% 0;
            transition: height 0.7s;
        }

        &.full:after {
            height: 140%;
        }
    }

    [class^="cell-"]:nth-child(even) {
        background: lightgoldenrodyellow;
    }

    [class^="cell-"] {
        height: 33.3333333%;
        width: 33.3333333%;
        float: left;
        border: 1px solid #000;
        position: relative;
        cursor: pointer;

        &.x,
        &.o {
            cursor: not-allowed;

            &:after {
                position: absolute;
                width: 100%;
                height: auto;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 65px;
                text-align: center;
                font-family: cursive;
                line-height: 70px;
            }
        }

        &.x:after {
            content: 'x';
        }

        &.o:after {
            content: 'o';
        }
    }
}